/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
 	  margin: 0;
      padding: 0;
}

header.main {
      background: #282;
      margin: 0;
}
img {
    width: 11%;
  }
.content { 
     margin: 0;
     padding: 0;
     display: flex;
     display: -webkit-flex;
     flex-direction: column; 
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
main.content {
    padding: 0.5em;
}
.side_nav {
    padding-bottom: 1em;
    background: #141; 
  }
  ul.side_nav{
    list-style: none;
    margin: 0;
    padding: 0;
 }
 ul {
    display: flex;
    font-size: 18px;
    justify-content: space-around;
 }
 li.side_nav {
    margin: 0;
    padding: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.354em;
 }
 a.side_nav {
    color: #bfb;
    text-decoration: none;
  }
a:hover {
background: none;
color: white;
}

.content nav ul {
	  list-style: none;
    }